@font-face {
    font-family: "Akrobat";
    font-style: normal;
    font-weight: 800;
    src: local("Akrobat"),
        url("/src/assets/fonts/akrobat/Akrobat-ExtraBold.otf") format("otf");
}

@font-face {
    font-family: "Cruinn";
    font-style: normal;
    font-weight: 900;
    src: local("Cruinn"),
        url("/src/assets/fonts/cruinn/Cruinn\ Black.ttf") format("ttf");
}

@font-face {
    font-family: "Cruinn";
    font-style: normal;
    font-weight: 700;
    src: local("Cruinn"),
        url("/src/assets/fonts/cruinn/Cruinn\ Bold.ttf") format("ttf");
}

@font-face {
    font-family: "Cruinn";
    font-style: normal;
    font-weight: 500;
    src: local("Cruinn"),
        url("/src/assets/fonts/cruinn/Cruinn\ Medium.ttf") format("ttf");
}

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    src: local("Montserrat")
        url("/src/assets/fonts/montserrat/Montserrat-Regular.ttf") format("ttf");
}
