:root {
    /* --px-content: 0 160px; */

    /* 24px */
    /* 20px */

    /* 32px */
    /* 80px */

    /* 200px */
    /* 128px */
    /* 160px */
    --ratio: calc(1920 / 100); /*нужно для расчёта резиновой вёрстки*/
}

@media screen and (max-width: 834px) {
    :root {
        --ratio: calc(834 / 100);
    }
}
@media screen and (max-width: 390px) {
    :root {
        --ratio: calc(390 / 100);
    }
}
